<div class="container">
  <div class="section__info">
    <div class="section__head">
      <h2 class="section__title">We Provide</h2>
      <p class="section__description">
        Highly-specialized Salesforce CPQ & Revenue Cloud subcontractors for salesforce partners and recruiting firms
      </p>
    </div>
    <div class="page-video" style="position: relative; width: 100%; padding-bottom: 56.25%; height: 0; overflow: hidden;">
      <iframe 
        src="https://www.youtube.com/embed/ypG9qQmTYPc" 
        title="Our Services" 
        frameborder="0" 
        allowfullscreen
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
      </iframe>
    </div>
  </div>
</div>