{% if site.data.settings.newsletter.enable == true %}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="subscribe">
        <div class="subscribe__inner">
          <div class="subscribe__content">
            {% if site.data.settings.newsletter.title %}
              <h3 class="subscribe__title">{{ site.data.settings.newsletter.title }}</h3>
            {% endif %}
            {% if site.data.settings.newsletter.description %}
              <p class="subscribe__description">{{ site.data.settings.newsletter.description }}</p>
            {% endif %}
          </div>
          <form class="subscribe-form embeddable-buttondown-form"
            action="https://buttondown.com/api/emails/embed-subscribe/cpqdevelopers"
            method="post"
            target="_blank">
            <label class="screen-reader-text" for="bd-email">Email address</label>
            <input class="subscribe-email required email" id="bd-email" type="email" name="email"
              placeholder="{{ site.data.settings.newsletter.input_text | default: 'Your Email Address...' }}">
            <button class="button button--primary subscribe-button" type="submit">{{ site.data.settings.newsletter.button_text | default: 'Subscribe' }}</button>
          </form>
        </div>
        <div class="subscribe__bg lazy" data-bg="{{ site.data.settings.newsletter.background_image }}"></div>
      </div>
    </div>
  </div>
</div>
{% endif %}